
  .category-slider.swiper {
    width: 100%;
    height: 100%;
  }
  
  .category-slider .swiper-slide {
    text-align: center;
    font-size: 18px;
  width: 100%;
  height: 100%;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  