
  .popular-swiper .swiper {
    width: 100%;
    height: 100%;
    background-color: aqua;    
  }
  
  .popular-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    padding:20px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  