 .swiper {
  width: 100%;
  height: 100%;
  padding:none
}

 .swiper-slide {
  /* Center slide text vertically */
  width:100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.swiper-pagination{
    bottom: 10% !important;
}